.root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.4rem;
}

.content {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.list {
    padding-top: 1.2rem;
    width: 100%;
    margin-block-start: 0px;
    padding-inline-start: 0px;
}

.list > * + * {
    margin-top: 1.2rem;
}